// Place all the styles related to the Bottles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bottles{
  text-align:center;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  -webkit-column-fill: auto;
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  -moz-column-fill: auto;
  column-count: 1;
  column-gap: 0px;
  column-fill: auto;
  }

.pic {
  list-style-type : none;
  text-align:center;
  background-color: skyblue;
  width: 260px;
}

.pic:nth-child(4n+1){
  background-color: green;
}

.links{
  width: 240px;
  margin: 10px;
}

@media (min-width: 540px){
  .bottles{
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 0px;
    column-fill: auto;
   }
  .pic {
  background-color: pink;

}
}

@media (min-width: 780px){
  .bottles{
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 0px;
    column-fill: auto;
   }
.pic {
  background-color: tomato
}
}
@media (min-width: 1040px){
  .bottles{
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -webkit-column-fill: auto;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    -moz-column-fill: auto;
    column-count: 4;
    column-gap: 0px;
    column-fill: auto;
   }
  .pic {
  background-color: red
}
}
